<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canglian.business.mapper.FinCostLayerMapper">

    <resultMap type="FinCostLayer" id="FinCostLayerResult">
        <id     property="costLayerId"   column="cost_layer_id" />
        <result property="costAccountId" column="cost_account_id" />
        <result property="productId"     column="product_id" />
        <result property="warehouseId"   column="warehouse_id" />
        <result property="quantity"      column="quantity" />
        <result property="remainingQty"  column="remaining_qty" />
        <result property="price"         column="price" />
        <result property="amount"        column="amount" />
        <result property="createBy"      column="create_by" />
        <result property="createTime"    column="create_time" />
        <result property="remark"        column="remark" />
    </resultMap>

    <sql id="selectFinCostLayerVo">
        select cost_layer_id, cost_account_id, product_id, warehouse_id, quantity, remaining_qty, price, amount,
               create_by, create_time, remark
        from fin_cost_layer
    </sql>

    <select id="selectFinCostLayerById" parameterType="Long" resultMap="FinCostLayerResult">
        <include refid="selectFinCostLayerVo"/>
        where cost_layer_id = #{costLayerId}
    </select>

    <select id="selectFinCostLayerList" parameterType="FinCostLayer" resultMap="FinCostLayerResult">
        <include refid="selectFinCostLayerVo"/>
        <where>
            <if test="costAccountId != null">
                and cost_account_id = #{costAccountId}
            </if>
            <if test="productId != null">
                and product_id = #{productId}
            </if>
            <if test="warehouseId != null">
                and warehouse_id = #{warehouseId}
            </if>
        </where>
    </select>

    <select id="selectAvailableCostLayers" resultMap="FinCostLayerResult">
        <include refid="selectFinCostLayerVo"/>
        where cost_account_id = #{costAccountId}
          and remaining_qty > 0
        order by cost_layer_id asc
    </select>

    <insert id="insertFinCostLayer" parameterType="FinCostLayer" useGeneratedKeys="true" keyProperty="costLayerId">
        insert into fin_cost_layer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="costAccountId != null">cost_account_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="remainingQty != null">remaining_qty,</if>
            <if test="price != null">price,</if>
            <if test="amount != null">amount,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="costAccountId != null">#{costAccountId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="remainingQty != null">#{remainingQty},</if>
            <if test="price != null">#{price},</if>
            <if test="amount != null">#{amount},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateFinCostLayer" parameterType="FinCostLayer">
        update fin_cost_layer
        <set>
            <if test="costAccountId != null">cost_account_id = #{costAccountId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="remainingQty != null">remaining_qty = #{remainingQty},</if>
            <if test="price != null">price = #{price},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where cost_layer_id = #{costLayerId}
    </update>

    <delete id="deleteFinCostLayerById" parameterType="Long">
        delete from fin_cost_layer where cost_layer_id = #{costLayerId}
    </delete>

    <delete id="deleteFinCostLayerByIds" parameterType="Long">
        delete from fin_cost_layer where cost_layer_id in
        <foreach collection="array" item="costLayerId" open="(" separator="," close=")">
            #{costLayerId}
        </foreach>
    </delete>
</mapper>

