<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canglian.business.mapper.FinCostLogMapper">

    <resultMap type="FinCostLog" id="FinCostLogResult">
        <id     property="costLogId"     column="cost_log_id" />
        <result property="costAccountId" column="cost_account_id" />
        <result property="productId"     column="product_id" />
        <result property="warehouseId"   column="warehouse_id" />
        <result property="billType"      column="bill_type" />
        <result property="billId"        column="bill_id" />
        <result property="inOut"         column="in_out" />
        <result property="quantity"      column="quantity" />
        <result property="price"         column="price" />
        <result property="amount"        column="amount" />
        <result property="costMethod"    column="cost_method" />
        <result property="createBy"      column="create_by" />
        <result property="createTime"    column="create_time" />
        <result property="remark"        column="remark" />
    </resultMap>

    <sql id="selectFinCostLogVo">
        select cost_log_id, cost_account_id, product_id, warehouse_id, bill_type, bill_id, in_out, quantity,
               price, amount, cost_method, create_by, create_time, remark
        from fin_cost_log
    </sql>

    <select id="selectFinCostLogById" parameterType="Long" resultMap="FinCostLogResult">
        <include refid="selectFinCostLogVo"/>
        where cost_log_id = #{costLogId}
    </select>

    <select id="selectFinCostLogList" parameterType="FinCostLog" resultMap="FinCostLogResult">
        <include refid="selectFinCostLogVo"/>
        <where>
            <if test="costAccountId != null">
                and cost_account_id = #{costAccountId}
            </if>
            <if test="productId != null">
                and product_id = #{productId}
            </if>
            <if test="warehouseId != null">
                and warehouse_id = #{warehouseId}
            </if>
            <if test="billType != null and billType != ''">
                and bill_type = #{billType}
            </if>
            <if test="billId != null">
                and bill_id = #{billId}
            </if>
            <if test="inOut != null and inOut != ''">
                and in_out = #{inOut}
            </if>
            <if test="costMethod != null and costMethod != ''">
                and cost_method = #{costMethod}
            </if>
        </where>
    </select>

    <insert id="insertFinCostLog" parameterType="FinCostLog" useGeneratedKeys="true" keyProperty="costLogId">
        insert into fin_cost_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="costAccountId != null">cost_account_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="billType != null and billType != ''">bill_type,</if>
            <if test="billId != null">bill_id,</if>
            <if test="inOut != null and inOut != ''">in_out,</if>
            <if test="quantity != null">quantity,</if>
            <if test="price != null">price,</if>
            <if test="amount != null">amount,</if>
            <if test="costMethod != null and costMethod != ''">cost_method,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="costAccountId != null">#{costAccountId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="billType != null and billType != ''">#{billType},</if>
            <if test="billId != null">#{billId},</if>
            <if test="inOut != null and inOut != ''">#{inOut},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="price != null">#{price},</if>
            <if test="amount != null">#{amount},</if>
            <if test="costMethod != null and costMethod != ''">#{costMethod},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateFinCostLog" parameterType="FinCostLog">
        update fin_cost_log
        <set>
            <if test="costAccountId != null">cost_account_id = #{costAccountId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="billType != null and billType != ''">bill_type = #{billType},</if>
            <if test="billId != null">bill_id = #{billId},</if>
            <if test="inOut != null and inOut != ''">in_out = #{inOut},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="costMethod != null and costMethod != ''">cost_method = #{costMethod},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where cost_log_id = #{costLogId}
    </update>

    <delete id="deleteFinCostLogById" parameterType="Long">
        delete from fin_cost_log where cost_log_id = #{costLogId}
    </delete>

    <delete id="deleteFinCostLogByIds" parameterType="Long">
        delete from fin_cost_log where cost_log_id in
        <foreach collection="array" item="costLogId" open="(" separator="," close=")">
            #{costLogId}
        </foreach>
    </delete>
</mapper>

