<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canglian.business.mapper.FinPaymentMapper">

    <resultMap type="FinPayment" id="FinPaymentResult">
        <id     property="paymentId"  column="payment_id"  />
        <result property="paymentNo"  column="payment_no"  />
        <result property="supplierId" column="supplier_id" />
        <result property="payableId"  column="payable_id"  />
        <result property="amount"     column="amount"      />
        <result property="paymentDate" column="payment_date" />
        <result property="payChannel" column="pay_channel"  />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
        <result property="remark"     column="remark"      />
    </resultMap>

    <sql id="selectFinPaymentVo">
        select payment_id, payment_no, supplier_id, payable_id, amount, payment_date, pay_channel,
               create_by, create_time, update_by, update_time, remark
        from fin_payment
    </sql>

    <select id="selectFinPaymentById" parameterType="Long" resultMap="FinPaymentResult">
        <include refid="selectFinPaymentVo"/>
        where payment_id = #{paymentId}
    </select>

    <select id="selectFinPaymentList" parameterType="FinPayment" resultMap="FinPaymentResult">
        <include refid="selectFinPaymentVo"/>
        <where>
            <if test="paymentNo != null and paymentNo != ''">
                and payment_no like concat('%', #{paymentNo}, '%')
            </if>
            <if test="supplierId != null">
                and supplier_id = #{supplierId}
            </if>
            <if test="payableId != null">
                and payable_id = #{payableId}
            </if>
            <if test="payChannel != null and payChannel != ''">
                and pay_channel = #{payChannel}
            </if>
        </where>
    </select>

    <select id="selectMaxPaymentNoByPrefix" parameterType="String" resultType="String">
        select max(payment_no)
        from fin_payment
        where payment_no like concat(#{paymentNoPrefix}, '%')
    </select>

    <insert id="insertFinPayment" parameterType="FinPayment" useGeneratedKeys="true" keyProperty="paymentId">
        insert into fin_payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="paymentNo != null and paymentNo != ''">payment_no,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="payableId != null">payable_id,</if>
            <if test="amount != null">amount,</if>
            <if test="paymentDate != null">payment_date,</if>
            <if test="payChannel != null">pay_channel,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="paymentNo != null and paymentNo != ''">#{paymentNo},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="payableId != null">#{payableId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="paymentDate != null">#{paymentDate},</if>
            <if test="payChannel != null">#{payChannel},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateFinPayment" parameterType="FinPayment">
        update fin_payment
        <set>
            <if test="paymentNo != null and paymentNo != ''">payment_no = #{paymentNo},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="payableId != null">payable_id = #{payableId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="paymentDate != null">payment_date = #{paymentDate},</if>
            <if test="payChannel != null">pay_channel = #{payChannel},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where payment_id = #{paymentId}
    </update>

    <delete id="deleteFinPaymentById" parameterType="Long">
        delete from fin_payment where payment_id = #{paymentId}
    </delete>

    <delete id="deleteFinPaymentByIds" parameterType="Long">
        delete from fin_payment where payment_id in
        <foreach collection="array" item="paymentId" open="(" separator="," close=")">
            #{paymentId}
        </foreach>
    </delete>
</mapper>

