<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canglian.business.mapper.MdProductMapper">

    <resultMap type="MdProduct" id="MdProductResult">
        <id     property="productId"      column="product_id"     />
        <result property="productCode"    column="product_code"   />
        <result property="productName"    column="product_name"   />
        <result property="productSpec"    column="product_spec"   />
        <result property="unitName"       column="unit_name"      />
        <result property="purchaseUnit"   column="purchase_unit"  />
        <result property="saleUnit"       column="sale_unit"      />
        <result property="baseUnit"       column="base_unit"      />
        <result property="unitConvertRatio" column="unit_convert_ratio" />
        <result property="enableBatch"    column="enable_batch"   />
        <result property="shelfLifeDays"  column="shelf_life_days" />
        <result property="enableSerial"   column="enable_serial"  />
        <result property="warningMinQty"  column="warning_min_qty" />
        <result property="warningMaxQty"  column="warning_max_qty" />
        <result property="barCode"        column="bar_code"       />
        <result property="categoryName"   column="category_name"  />
        <result property="brandName"      column="brand_name"     />
        <result property="productImage"   column="product_image"  />
        <result property="costPrice"      column="cost_price"     />
        <result property="salePrice"      column="sale_price"     />
        <result property="status"         column="status"         />
        <result property="delFlag"        column="del_flag"       />
        <result property="createBy"       column="create_by"      />
        <result property="createTime"     column="create_time"    />
        <result property="updateBy"       column="update_by"      />
        <result property="updateTime"     column="update_time"    />
        <result property="remark"         column="remark"         />
    </resultMap>

    <sql id="selectMdProductVo">
        select product_id, product_code, product_name, product_spec, unit_name, purchase_unit, sale_unit, base_unit,
               unit_convert_ratio, enable_batch, shelf_life_days, enable_serial, warning_min_qty, warning_max_qty,
               bar_code, category_name, brand_name,
               product_image, cost_price, sale_price, status, del_flag, create_by, create_time, update_by, update_time, remark
        from md_product
    </sql>

    <select id="selectMdProductById" parameterType="Long" resultMap="MdProductResult">
        <include refid="selectMdProductVo"/>
        where product_id = #{productId}
    </select>

    <select id="selectMdProductList" parameterType="MdProduct" resultMap="MdProductResult">
        <include refid="selectMdProductVo"/>
        <where>
            <if test="productCode != null and productCode != ''">
                and product_code like concat('%', #{productCode}, '%')
            </if>
            <if test="productName != null and productName != ''">
                and product_name like concat('%', #{productName}, '%')
            </if>
            <if test="categoryName != null and categoryName != ''">
                and category_name like concat('%', #{categoryName}, '%')
            </if>
            <if test="brandName != null and brandName != ''">
                and brand_name like concat('%', #{brandName}, '%')
            </if>
            <if test="barCode != null and barCode != ''">
                and bar_code = #{barCode}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="delFlag != null and delFlag != ''">
                and del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <insert id="insertMdProduct" parameterType="MdProduct" useGeneratedKeys="true" keyProperty="productId">
        insert into md_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productCode != null and productCode != ''">product_code,</if>
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="productSpec != null">product_spec,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="purchaseUnit != null">purchase_unit,</if>
            <if test="saleUnit != null">sale_unit,</if>
            <if test="baseUnit != null">base_unit,</if>
            <if test="unitConvertRatio != null">unit_convert_ratio,</if>
            <if test="enableBatch != null">enable_batch,</if>
            <if test="shelfLifeDays != null">shelf_life_days,</if>
            <if test="enableSerial != null">enable_serial,</if>
            <if test="warningMinQty != null">warning_min_qty,</if>
            <if test="warningMaxQty != null">warning_max_qty,</if>
            <if test="barCode != null">bar_code,</if>
            <if test="categoryName != null">category_name,</if>
            <if test="brandName != null">brand_name,</if>
            <if test="productImage != null">product_image,</if>
            <if test="costPrice != null">cost_price,</if>
            <if test="salePrice != null">sale_price,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productCode != null and productCode != ''">#{productCode},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="productSpec != null">#{productSpec},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="purchaseUnit != null">#{purchaseUnit},</if>
            <if test="saleUnit != null">#{saleUnit},</if>
            <if test="baseUnit != null">#{baseUnit},</if>
            <if test="unitConvertRatio != null">#{unitConvertRatio},</if>
            <if test="enableBatch != null">#{enableBatch},</if>
            <if test="shelfLifeDays != null">#{shelfLifeDays},</if>
            <if test="enableSerial != null">#{enableSerial},</if>
            <if test="warningMinQty != null">#{warningMinQty},</if>
            <if test="warningMaxQty != null">#{warningMaxQty},</if>
            <if test="barCode != null">#{barCode},</if>
            <if test="categoryName != null">#{categoryName},</if>
            <if test="brandName != null">#{brandName},</if>
            <if test="productImage != null">#{productImage},</if>
            <if test="costPrice != null">#{costPrice},</if>
            <if test="salePrice != null">#{salePrice},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMdProduct" parameterType="MdProduct">
        update md_product
        <set>
            <if test="productCode != null and productCode != ''">product_code = #{productCode},</if>
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="productSpec != null">product_spec = #{productSpec},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="purchaseUnit != null">purchase_unit = #{purchaseUnit},</if>
            <if test="saleUnit != null">sale_unit = #{saleUnit},</if>
            <if test="baseUnit != null">base_unit = #{baseUnit},</if>
            <if test="unitConvertRatio != null">unit_convert_ratio = #{unitConvertRatio},</if>
            <if test="enableBatch != null">enable_batch = #{enableBatch},</if>
            <if test="shelfLifeDays != null">shelf_life_days = #{shelfLifeDays},</if>
            <if test="enableSerial != null">enable_serial = #{enableSerial},</if>
            <if test="warningMinQty != null">warning_min_qty = #{warningMinQty},</if>
            <if test="warningMaxQty != null">warning_max_qty = #{warningMaxQty},</if>
            <if test="barCode != null">bar_code = #{barCode},</if>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="brandName != null">brand_name = #{brandName},</if>
            <if test="productImage != null">product_image = #{productImage},</if>
            <if test="costPrice != null">cost_price = #{costPrice},</if>
            <if test="salePrice != null">sale_price = #{salePrice},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where product_id = #{productId}
    </update>

    <delete id="deleteMdProductById" parameterType="Long">
        delete from md_product where product_id = #{productId}
    </delete>

    <delete id="deleteMdProductByIds" parameterType="Long">
        delete from md_product where product_id in
        <foreach collection="array" item="productId" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
</mapper>

