<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canglian.business.mapper.WmsOutboundMapper">

    <resultMap type="WmsOutbound" id="WmsOutboundResult">
        <id     property="outboundId"  column="outbound_id"  />
        <result property="outboundNo"  column="outbound_no"  />
        <result property="outboundType" column="outbound_type" />
        <result property="customerId"  column="customer_id"  />
        <result property="warehouseId" column="warehouse_id" />
        <result property="totalQty"    column="total_qty"    />
        <result property="totalAmount" column="total_amount" />
        <result property="status"      column="status"       />
        <result property="auditBy"     column="audit_by"     />
        <result property="auditTime"   column="audit_time"   />
        <result property="platformType" column="platform_type" />
        <result property="storeId"     column="store_id"     />
        <result property="sourceOrderNo" column="source_order_no" />
        <result property="carrier"     column="carrier"      />
        <result property="waybillNo"   column="waybill_no"   />
        <result property="freightCost" column="freight_cost" />
        <result property="deliveryStatus" column="delivery_status" />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"  column="create_time"  />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"  column="update_time"  />
        <result property="remark"      column="remark"       />
    </resultMap>

    <sql id="selectWmsOutboundVo">
        select outbound_id, outbound_no, outbound_type, customer_id, warehouse_id, total_qty, total_amount,
               status, audit_by, audit_time, platform_type, store_id, source_order_no, carrier, waybill_no,
               freight_cost, delivery_status, create_by, create_time, update_by, update_time, remark
        from wms_outbound
    </sql>

    <select id="selectWmsOutboundById" parameterType="Long" resultMap="WmsOutboundResult">
        <include refid="selectWmsOutboundVo"/>
        where outbound_id = #{outboundId}
    </select>

    <select id="selectWmsOutboundList" parameterType="WmsOutbound" resultMap="WmsOutboundResult">
        <include refid="selectWmsOutboundVo"/>
        <where>
            <if test="outboundNo != null and outboundNo != ''">
                and outbound_no like concat('%', #{outboundNo}, '%')
            </if>
            <if test="outboundType != null and outboundType != ''">
                and outbound_type = #{outboundType}
            </if>
            <if test="customerId != null">
                and customer_id = #{customerId}
            </if>
            <if test="warehouseId != null">
                and warehouse_id = #{warehouseId}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
    </select>

    <insert id="insertWmsOutbound" parameterType="WmsOutbound" useGeneratedKeys="true" keyProperty="outboundId">
        insert into wms_outbound
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="outboundNo != null and outboundNo != ''">outbound_no,</if>
            <if test="outboundType != null">outbound_type,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="totalQty != null">total_qty,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="status != null">status,</if>
            <if test="auditBy != null">audit_by,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="platformType != null">platform_type,</if>
            <if test="storeId != null">store_id,</if>
            <if test="sourceOrderNo != null and sourceOrderNo != ''">source_order_no,</if>
            <if test="carrier != null and carrier != ''">carrier,</if>
            <if test="waybillNo != null and waybillNo != ''">waybill_no,</if>
            <if test="freightCost != null">freight_cost,</if>
            <if test="deliveryStatus != null and deliveryStatus != ''">delivery_status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="outboundNo != null and outboundNo != ''">#{outboundNo},</if>
            <if test="outboundType != null">#{outboundType},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="totalQty != null">#{totalQty},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="auditBy != null">#{auditBy},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="platformType != null">#{platformType},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="sourceOrderNo != null and sourceOrderNo != ''">#{sourceOrderNo},</if>
            <if test="carrier != null and carrier != ''">#{carrier},</if>
            <if test="waybillNo != null and waybillNo != ''">#{waybillNo},</if>
            <if test="freightCost != null">#{freightCost},</if>
            <if test="deliveryStatus != null and deliveryStatus != ''">#{deliveryStatus},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateWmsOutbound" parameterType="WmsOutbound">
        update wms_outbound
        <set>
            <if test="outboundNo != null and outboundNo != ''">outbound_no = #{outboundNo},</if>
            <if test="outboundType != null">outbound_type = #{outboundType},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="totalQty != null">total_qty = #{totalQty},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="auditBy != null">audit_by = #{auditBy},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="platformType != null">platform_type = #{platformType},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="sourceOrderNo != null and sourceOrderNo != ''">source_order_no = #{sourceOrderNo},</if>
            <if test="carrier != null and carrier != ''">carrier = #{carrier},</if>
            <if test="waybillNo != null and waybillNo != ''">waybill_no = #{waybillNo},</if>
            <if test="freightCost != null">freight_cost = #{freightCost},</if>
            <if test="deliveryStatus != null and deliveryStatus != ''">delivery_status = #{deliveryStatus},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where outbound_id = #{outboundId}
    </update>

    <delete id="deleteWmsOutboundById" parameterType="Long">
        delete from wms_outbound where outbound_id = #{outboundId}
    </delete>

    <delete id="deleteWmsOutboundByIds" parameterType="Long">
        delete from wms_outbound where outbound_id in
        <foreach collection="array" item="outboundId" open="(" separator="," close=")">
            #{outboundId}
        </foreach>
    </delete>

    <select id="selectMaxOutboundNoByPrefix" parameterType="String" resultType="String">
        select max(outbound_no) from wms_outbound where outbound_no like concat(#{noPrefix}, '%')
    </select>
</mapper>

