<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canglian.business.mapper.WmsTransferItemMapper">

    <resultMap type="WmsTransferItem" id="WmsTransferItemResult">
        <id     property="transferItemId" column="transfer_item_id" />
        <result property="transferId"     column="transfer_id"      />
        <result property="productId"      column="product_id"       />
        <result property="outLocationId"  column="out_location_id"  />
        <result property="inLocationId"   column="in_location_id"   />
        <result property="batchNo"        column="batch_no"         />
        <result property="quantity"       column="quantity"         />
        <result property="price"          column="price"            />
        <result property="amount"         column="amount"           />
    </resultMap>

    <sql id="selectWmsTransferItemVo">
        select transfer_item_id, transfer_id, product_id, out_location_id, in_location_id, batch_no, quantity, price, amount
        from wms_transfer_item
    </sql>

    <select id="selectWmsTransferItemById" parameterType="Long" resultMap="WmsTransferItemResult">
        <include refid="selectWmsTransferItemVo"/>
        where transfer_item_id = #{transferItemId}
    </select>

    <select id="selectWmsTransferItemList" parameterType="WmsTransferItem" resultMap="WmsTransferItemResult">
        <include refid="selectWmsTransferItemVo"/>
        <where>
            <if test="transferId != null">
                and transfer_id = #{transferId}
            </if>
            <if test="productId != null">
                and product_id = #{productId}
            </if>
            <if test="outLocationId != null">
                and out_location_id = #{outLocationId}
            </if>
            <if test="inLocationId != null">
                and in_location_id = #{inLocationId}
            </if>
            <if test="batchNo != null and batchNo != ''">
                and batch_no = #{batchNo}
            </if>
        </where>
    </select>

    <insert id="insertWmsTransferItem" parameterType="WmsTransferItem" useGeneratedKeys="true" keyProperty="transferItemId">
        insert into wms_transfer_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="transferId != null">transfer_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="outLocationId != null">out_location_id,</if>
            <if test="inLocationId != null">in_location_id,</if>
            <if test="batchNo != null and batchNo != ''">batch_no,</if>
            <if test="quantity != null">quantity,</if>
            <if test="price != null">price,</if>
            <if test="amount != null">amount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="transferId != null">#{transferId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="outLocationId != null">#{outLocationId},</if>
            <if test="inLocationId != null">#{inLocationId},</if>
            <if test="batchNo != null and batchNo != ''">#{batchNo},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="price != null">#{price},</if>
            <if test="amount != null">#{amount},</if>
        </trim>
    </insert>

    <update id="updateWmsTransferItem" parameterType="WmsTransferItem">
        update wms_transfer_item
        <set>
            <if test="transferId != null">transfer_id = #{transferId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="outLocationId != null">out_location_id = #{outLocationId},</if>
            <if test="inLocationId != null">in_location_id = #{inLocationId},</if>
            <if test="batchNo != null and batchNo != ''">batch_no = #{batchNo},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="amount != null">amount = #{amount},</if>
        </set>
        where transfer_item_id = #{transferItemId}
    </update>

    <delete id="deleteWmsTransferItemById" parameterType="Long">
        delete from wms_transfer_item where transfer_item_id = #{transferItemId}
    </delete>

    <delete id="deleteWmsTransferItemByIds" parameterType="Long">
        delete from wms_transfer_item where transfer_item_id in
        <foreach collection="array" item="transferItemId" open="(" separator="," close=")">
            #{transferItemId}
        </foreach>
    </delete>
</mapper>

